<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript">
    window.onload = function () {
      var dps = [];

      var chart = new CanvasJS.Chart("chartContainer",
      {
        title: {
          text: "Race Timer"
        },
        axisX: {
          interval: 1,
          intervalType: "second",
        },
        axisY: {
          title: "Speed (MPH)"
        },
        data: [
        {
          type: "line",
          dataPoints: dps
        }
        ]
      });

      var updateChart = function() {
        dps.push({
            x: new Date(),
            y: 5
        });
        if (dps.length > 100) {
          dps.shift();
        }
        chart.render();
      };

      //updateChart();
      //setInterval(updateChart, 100);

      if (!!window.EventSource) {
        var source = new EventSource('http://10.172.1.57:5000/stream')

        source.addEventListener('message', function(e) {
          console.log(e);
          console.log(e.data);
          document.getElementById('data').innerHTML = e.data;
          updateChart();
        }, false)

        source.addEventListener('open', function(e) {
          document.getElementById('state').innerHTML = "Connected";
        }, false)

        source.addEventListener('error', function(e) {
          const id_state = document.getElementById('state')
          if (e.eventPhase == EventSource.CLOSED)
            source.close();
          if (e.target.readyState == EventSource.CLOSED) {
            id_state.innerHTML = "Disconnected";
          }
          else if (e.target.readyState == EventSource.CONNECTING) {
            id_state.innerHTML = "Connecting...";
          }
        }, false)
      } else {
        console.log("Your browser doesn't support SSE");
      }
    }
    </script>
   <script type="text/javascript" src="canvasjs.min.js"></script>
</head>
<body>
  <h1>SSE: <span id="state"></span></h1>
  <!--<h3>Data: <span id="data"></span></h3>--> 
  <div id="chartContainer" style="height: 300px; width: 50%;"></div>
</body>
</html>